[submodule "verilog/external/doctest"]
	path = verilog/external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "verilog/external/rlimgui"]
	path = verilog/external/rlimgui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "verilog/external/imterm"]
	path = verilog/external/imterm
	url = https://github.com/Organic-Code/ImTerm
